---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Pillars from '../components/Pillars.astro';
import Quote from '../components/Quote.astro';
import Levels from '../components/Levels.astro';
import Hero from '../components/Hero.astro';
import WRO from '../components/WRO.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Taller de Robotica - Colegio Belgrano">
    <Navbar />
    <main>
        <div class="hero-spacer"></div> 
        <Hero /> 
        <div id="explorar" class="anchor-offset"></div>
        <Pillars />
        <Quote />
        <Levels />
        <WRO />

    </main>
<Footer />
</Layout>

<style>
    .hero-spacer {
        height: 100vh;
        background-color: transparent;
    }

    .anchor-offset {
        display: block;
        position: relative;
        top: -110px;
        visibility: hidden; 
    }
</style>